<?xml version='1.0' encoding='utf-8'?>
<widget id="com.anzorb.profiles" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Profiles</name>
    <description>
        A sample Aurora application showing how to create a data-bound app.
    </description>
    <author email="anzorb@gmail.com">
        Anzor Bashkhaz
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
